@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');
body{
    background-image: url(./img/yellow.jpeg );
    /* justify-content: center;
    object-fit: contain !important;
    width: 100% !important; */
    background-size: cover;
    overflow: hidden;

}
.form{
    padding: 50px;
    background-color: #144B81;
    border-radius: 10px;
    margin-left: 20%;
}
.batman{
    color: #144B81;
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
}
.containerr{
    margin-left: 25%;
    
}
.form-control{
    background-color: #EDAB3C;
    height: 45px;
    border-radius: 12px;
    border:  none;
    color:#144B81 !important;
    font-family: 'Jost', sans-serif;
}
.form-control::placeholder{
    color:#144B81;
}
.btn-warningg{
    background-color: #959595;
    border-radius: 40px;
    color: #080808;
    font-size: 13px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 3px;
    
}
.btn-warningg:hover{
    background-color: #080808;
    color: #959595;
}
.form-check-label{
color:#EEAC3E;
font-family: 'Jost', sans-serif;
}
.form-check-input:checked {
    background-color: #EDAB3C;
    border-color: #EDAB3C;
  }